<header class="header">
  <mat-toolbar color="accent" class="footer">
    <mat-toolbar-row>
      <span style="color: black">Anytime Library Team</span>
      <div class="bottom-left">
          <h6 class="bottom-left">{{ date | date: "medium" }}</h6>
        </div>
      <span class="app-spacer"></span>
      <span style="color: black">
        &copy; 2019 | by
        <a
          href="https://www.mindtree.com/"
          style="text-decoration: none; color: white"
        >
          Mindtree Ltd.</a
        ></span
      >
    </mat-toolbar-row>
  </mat-toolbar>
</header>
